<!DOCTYPE html>
<html>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- inject:css -->
<!-- endinject -->
<base href="/">
<body data-ng-app="sidebar"  ng-controller="AppController">
	<section class="grid header" style="z-index: 4;">
		<!-- search hero -->
		<section class="hero row">
			<input id="searchYouTube" class="col-90 search-field center vertical-margin"
					type="text" name="q" results="0" autocomplete="off" placeholder="Введите текст для поиска"
					ng-model="queryInputValue"
					ng-keydown="onSearchbarKeydown($event)"
					ng-focus="onSearchbarFocus($event)"
					ng-click="onSearchbarFocus($event)"
					ng-blur="onSearchbarBlur($event)"/>
			<button class="center button-sparse vertical-margin" ng-click="startSearch()">Поиск</button>
			<ul class="suggested-search-queries center" ng-class="{ 'visible': settings.suggestedSearchIsVisible }">
				<li class="suggested-search-query"
					ng-repeat="query in suggestedSearchQueries"
					ng-class="{ 'selected': ($index + 1) === selectedSuggestedSearchQueryIndex }">
					<p class="no-margin-bottom"
						ng-bind-html="query"
						ng-click="onSuggestedSearchQueryClick($index + 1)">
					</p>
				</li>
			</ul>
		</section>
	</section><!--/.grid-->
	
	<!-- search results area -->
	<section class="bg-light search-results " ng-show="showResults">
		<section class="col-90 center padding-top-small padding-bottom-small" ng-show="!filteredResults.length" >
			<ul class="search-messages text-center">
				<li class="search-message" ng-show="query.length">
					<p class="no-margin-bottom padding-top-small padding-bottom-small smaller">Ничего не найдено.</p>
				</li>
				<li class="search-message" ng-hide="query.length">
					<p class="no-margin-bottom padding-top-small padding-bottom-small smaller">Введена пустая строка.</p>
				</li>
			</ul>
		</section>
		<ul class="links small col-80 padding-top-small search-results"  ng-show="filteredResults.length" >
			<li class="search-result"
				ng-repeat="result in filteredResults">
				<a href="{{result.url}}" target="_blank">{{result.name}}</a>
			</li>
		</ul>
	</section>
<!-- inject:js -->
<!-- endinject -->
</body>
</html>